{% extends 'base.html' %}
{% block titulo %}{{ titulo }}{% endblock %}
{% block contenido %}
{% load static %}
    {% if request.session.usuario %}
        {% include 'menu.html' %}
    {% endif %}


    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <h2 class="text-center mb-4">Lista de Amigos</h2>
                {% if amigos %}
                    <ul class="list-group">
                        {% for amigo in amigos %}
                        <li class="list-group-item lista_amigos_caja">
                            <div class="container">
                                <div class="row align-items-center">
                                    <div class="col-md-8">
                                        <h2 class="nombre_amigo_lista">
                                            <a href="{% url 'perfil_amigo' amigo.id %}">{{ amigo.first_name }} {{ amigo.last_name }}</a>
                                        </h2>
                                    </div>
                                    <div class="col-md-4 text-right">
                                        <img src="{{ amigo.imagen.url }}" alt="Foto de perfil" class="img-fluid imagen_perfil_lista_amigos">
                                    </div>
                                </div>
                            </div>
                        </li>
                        {% endfor %}
                    </ul>
                {% else %}
                    <p class="text-center">No tienes amigos en este momento.</p>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
